section{
width: 100%;
height: 100vh;
background-image: url(https://i.imgur.com/wpSWWLW.png);
background-size: cover;
background-repeat:no-repeat;
background-position: center;
}

header {
background-color:transparent;
height: 5rem;
width: 45rem;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
z-index: 2;
padding: 0 1.5rem;
}

header a {
color:white;
font-size: 2rem;
font-weight: 300;
margin-top: 3.5rem;
z-index: 2;
}

.casa{
width: 3.5rem;
margin-top: 3.5rem;
}

.logo{
display: flex;
position: absolute;
top:20rem; 
margin-left: 43vw;
} 

.titulo{
display: flex;
position: absolute;
top: 50rem; 
margin-left: 54rem;
font-size: 18.5rem;
color: #fff;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 

.frase{
position: absolute;
left: 22rem;
top: 130rem;
    
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Quicksand', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 4rem;
text-align: center;
}

.frase2{
position: absolute;
left: 3rem;
top: 255rem;

font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Quicksand', sans-serif;
font-weight: 400;
font-size: 4rem;
text-align: center;


color: #000000;
}
.principal{
    margin-top: 50rem;
    margin-left: 15rem;
}
.principal img{
    margin-left: 5rem;
}
/*DESKTOP*/
@media only screen and (min-width: 1440px) and (max-width:1550px){
.principal{
    margin-top: 50rem;
    margin-left: 10rem;
}
.principal img{
   width: 35rem;
   height: 36rem;
}

.titulo{
    top: 50rem; 
    margin-left: 40rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
.frase{
    position: absolute;
    left: 3rem;
    top: 120rem;
        } 

.frase2{
    top: 230rem;
    
}
}
/*TABLET*/
@media only screen and (min-width: 500px) and (max-width:920px){
.principal{
    margin-top: 20rem;
    margin-left: 11.5rem;
    }
.principal img{
    width: 45rem;
    height: 44rem;
    margin-top: 30rem;
    }
.titulo{
        top: 45rem; 
        margin-left: 15rem;
        font-size: 13rem;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
.frase{
         position: absolute;
        left: 3rem;
        top: 120rem;
    } 
    
.frase2{
        top: 390rem;
        
    }
.logo{
        display: flex;
        position: absolute;
        top:25rem; 
        margin-left: 40%;
        width: 18rem;
        height: 17.5rem;
        } 
}
/*TELÉFONO*/
@media only screen and (min-width: 375px) and (max-width:428px){
.principal{
    margin-top: 5rem;
    margin-left: 0rem;

}
.principal img{
    width: 30rem;
    height: 29rem;
    margin-top: 30rem;
    margin-left: 3.5rem;
    }
.titulo{
    top: 32rem; 
    margin-left: 5.5rem;
    font-size: 6.5rem;
    
}
.frase{
    left: 0.3rem;
    top: 80rem;
    font-size: 2rem;
} 
    
.frase2{
    top: 280rem;
    left: 0.3rem;
    font-size: 2rem;

}
header {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 0 1.5rem;
    }
    
header a {
    color:white;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 2rem;
    z-index: 2;
    }
.logo{
    display: flex;
    position: absolute;
    top:20rem; 
    margin-left: 37%;
    width: 10rem;
    height: 9.5rem;
} 
.casa{
    width: 2rem;
    height: 2rem;
    margin-top: 2rem;
}
}