section{
width: 100%;
height: 100vh;
background-image: url(https://i.imgur.com/wpSWWLW.png);
background-size: cover;
background-repeat:no-repeat;
background-position: center;
}

header {
background-color:transparent;
height: 5rem;
width: 45rem;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
z-index: 2;
padding: 0 1.5rem;
}

header a {
color:white;
font-size: 2rem;
font-weight: 300;
margin-top: 3.5rem;
z-index: 2;
}

.casa{
width: 3.5rem;
margin-top: 3.5rem;
}

.logo{
display: flex;
position: absolute;
top:20rem; 
margin-left: 43vw;
} 

.titulo{
display: flex;
position: absolute;
top: 50rem; 
margin-left: 54rem;
font-size: 18.5rem;
color: #fff;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
} 
.galeria{
    display: flex;
    justify-content: center;
    align-items: center;
}
.uñas{
position: absolute;
width: 61.3rem;
height: 45.7rem;
left: 3.7rem;
top: 170rem;
}

.pedicure{
position: absolute;
width: 58rem;
height: 45.7rem;
left: 67.3rem;
top: 170rem;
}

.depilacion{
position: absolute;
width: 61rem;
height: 45.7rem;
left: 127.5rem;
top: 170rem;
}

.frase{
position: absolute;
left: 22rem;
top: 140rem;
    
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Quicksand', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 4rem;
text-align: center;
}

.boton1{
position: absolute;
width: 20.7rem;
height: 6.5rem;
left: 24rem;
top: 197rem;
background: #DF2F7B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
color: #FFFFFF;
text-decoration: none;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Quicksand', sans-serif;
font-weight: 100;
font-size: 2.4rem;
text-align: center;

display: flex;
align-items: center;
justify-content: center;
}

.boton2{
position: absolute;
width: 20.7rem;
height: 6.5rem;
left: 88rem;
top: 197rem;
    
background: #DF2F7B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
color: #FFFFFF;
text-decoration: none;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Quicksand', sans-serif;
font-weight: 100;
font-size: 2.4rem;
text-align: center;

display: flex;
align-items: center;
justify-content: center;
}
.boton3{
position: absolute;
width: 20.7rem;
height: 6.5rem;
left: 150rem;
top: 197rem;

background: #DF2F7B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
color: #FFFFFF;
text-decoration: none;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Quicksand', sans-serif;
font-weight: 100;
font-size: 2.4rem;
text-align: center;

display: flex;
align-items: center;
justify-content: center;
}
.frase2{
position: absolute;
left: 3rem;
top: 238rem;

font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Quicksand', sans-serif;
font-weight: 400;
font-size: 4rem;
text-align: center;


color: #000000;
}
.fondo{
    background-color: #fff;
    color: #fff;
    position: absolute;
    top: 280rem;
}

@media only screen and (min-width: 1440px) and (max-width:1550px){
.uñas{
    left: 6.1rem;
    top: 170rem;
}
        
.pedicure{
    left: 78.8rem;
    top: 170rem;
     }
        
.depilacion{
        left: 45rem;
        top: 230rem;
        }
.boton1{
            
    left: 25rem;
    top: 197rem;
            
    }
            
.boton2{
            
    left: 98rem;
    top: 197rem;
    }
.boton3{
           
    left: 65rem;
    top: 260rem;
            
            }
.titulo{
    top: 50rem; 
    margin-left: 40rem;
            }
.frase{
     position: absolute;
    left: 3rem;
    top: 140rem;
        } 

.frase2{
    top: 290rem;
    
}
}

@media only screen and (min-width: 500px) and (max-width:920px){
    .uñas{
        left: 8rem;
        top: 150rem;
    }       
    .pedicure{
        left: 9rem;
        top: 210rem;
         }
            
    .depilacion{
            left: 8rem;
            top: 270rem;
            }
    .boton1{
                
        left: 30rem;
        top: 197rem;
                
        }
                
    .boton2{
                
        left: 30rem;
        top: 318rem;
        }
    .boton3{
               
        left: 30rem;
        top: 260rem;
                
                }
    .titulo{
        top: 45rem; 
        margin-left: 20rem;
        font-size: 10rem;
                }
    .frase{
         position: absolute;
        left: 3rem;
        top: 120rem;
            } 
    
    .frase2{
        top: 340rem;
        
    }
}
.logo{
    width: 194px;
    height: 200px;
    margin-left: 35vw;
    } 